

<section class="row date_content">


	<div class="col-md-12">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
				{% trans %}de{% endtrans %}
			</span>
			<input type="text" class="form-control datepicker" id="search_start_date" placeholder="{% trans %}Data de inicio de procura{% endtrans %}">
		</div>
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
				{% trans %}a{% endtrans %}
			</span>
			<input type="text" class="form-control datepicker" id="search_end_date" placeholder="{% trans %}Data de fim de procura{% endtrans %}">
		</div>
	</div>


</section>

