
<div class="resizable_wrapper">
	<button type="button" class="btn btn-primary btn-lg tab_button active" id="going_btn" style="outline: none;">{% trans %}Ida{% endtrans %}
	<span class="glyphicon glyphicon-chevron-right"></span>
	</button>
	<section class="search_results_wrapper going">
		<div class="row search_results going">
		</div>
	</section>
</div>

<div class="clear"></div>

<div class="resizable_wrapper">
	<button type="button" class="btn btn-primary btn-lg tab_button active" id="returning_btn" style="outline: none;">{% trans %}Regresso{% endtrans %}
	<span class="glyphicon glyphicon-chevron-right"></span>
	</button>
	<section class="search_results_wrapper returning">
		<div class="row search_results returning">

		</div>
	</section>
</div>