
<table border="0" align="center" class="input_email">
   <tr height="100%">
    <td height="100%" width="100%" valign="middle" align="center">
      <form action="">
		
		<input type="email" placeholder="Email" id="send_email_to" required>

		<button type="submit" class="btn btn-danger btn-lg tab_button" id="send_email" style="outline: none;">Enviar email<span class="glyphicon glyphicon-envelope"></span>
		</button>
	</form>
    </td>
   </tr>
  </table>