<nav id="top_language" role="navigation" class="top_fixed_menu">

	<div id="menu_buttons">
		<form id="form_pt" action="/" method="post">
			<input type="hidden" name="lang" id="" value="pt">
			<a onclick="document.getElementById('form_pt').submit();" id="menu_pt"></a>
		</form>
		<form id="form_en" action="/" method="post">
			<input type="hidden" name="lang" id="" value="en">
			<a onclick="document.getElementById('form_en').submit();" id="menu_en"></a>
		</form>
		
	</div>
</nav>
